import * as React from "react";
import PropTypes from "prop-types";
{{#if templateChoices.[2]}}import "./{{kebabCase name}}.scss";{{/if}}

const {{pascalCase name}} = ({}) => {
    return (
        <div>{{pascalCase name}}</div>
    );
};

{{pascalCase name}}.propTypes = {
}

export default {{pascalCase name}};