import React from "react";
import Inkwell from "../../vellum/Inkwell/Inkwell";
import {{pascalCase name}} from "./{{pascalCase name}}";
import "../../vellum/queries";

const {{pascalCase name}}Ink = ({data}) => {
return (
    <section>
        <Inkwell meta={data.componentMetadata}>
            <{{pascalCase name}}/>
        </Inkwell>
        <div dangerouslySetInnerHTML=\{{__html: docs.html}}/>
    </section>
    );
};

export default {{pascalCase name}};

export const query = graphql`
query {{pascalCase name}}InkQuery {
    componentMetadata(id: { regex: "/{{pascalCase name}}.jsx/" }) {
        ...standardInkFields
    }
docs: markdownRemark(id: { regex: "/{{pascalCase name}}/" }) {
        html
    }
}
`;
